@{
    ViewBag.Title = "";
}
<h2>Jaaaaaaake!!!</h2>
<h3>@ViewBag.Message</h3>


<div class="row">
    <div class="col-md-4">

        <p><a class="btn btn-success jake" href="">Jake &raquo;</a></p>
    </div>
    <div class="col-md-4">

        <p><a class="btn btn-warning jake" href="">more Jake &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-danger jake" href="">and more Jake &raquo;</a></p>
    </div>
</div>

<div class="jake">
    <img class="image-responsive" src="~/Content/jake_the_dog.png" width="360" height="600" />
</div>